.container {
  background-color: teal;
}

.image {
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.2);
  cursor: pointer;
  transition: transform 200ms;
}

.selected {
  z-index: 1;
}
